<div class="container">
  <div class="login-form">
    <img src="assets/imgs/logo.png" alt="Logo Clínica da Alma">
    <h2>Entre</h2>
    <form (ngSubmit)="login()" #form="ngForm">
      <input type="email" name="login-email" 
        id="login-email" placeholder="Email*"
        [(ngModel)]="user.email" #email="ngModel">
      <input type="password" name="login-pass" 
        id="login-pass" placeholder="Senha*"
        [(ngModel)]="user.password" #password="ngModel">
      
      <button type="submit">Entrar</button>
    </form>
  </div>
</div>
