@use 'src/assets/styles/variables.scss' as var;

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var.$bg-color;
    border: 1px solid var.$border-color;
    &:hover {
        background-color: darken(var.$bg-color, 5%)
    }
    .item__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        .item__info__avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .item__info__name {
            font-weight: bold;
        }
    }
    .item__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        i {
            margin-left: 10px;
        }
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
}
