<form [formGroup]="form" (ngSubmit)="onPartialSubmit()">
  <div>
    <label for="razao">razao</label>
    <input type="text" formControlName="razao" id="razao">
  </div>
  <div>
    <fieldset>
      <label for="ehDesistencia">Desistência</label>
      <input type="radio" formControlName="ehDesistencia" id="ehDesistencia" name="ehDesistencia" [value]="true">
      <label for="ehDesistencia">Desligamento</label>
      <input type="radio" formControlName="ehDesistencia" id="desligamento" name="ehDesistencia" [value]="false">
    </fieldset>
  </div>
  <div>
    <label for="pessoaInformada">pessoaInformada</label>
    <input type="text" formControlName="pessoaInformada" id="pessoaInformada">
  </div>
  <button type="submit">Anexar trecho</button>
</form>

<button (click)="removePartialForm()">Remover trecho</button>
