<h1>{{user.email == '' ? 'Novo Usuário' : user.email}}</h1>

<form>
  <label for="username">Email*</label>
  <input [(ngModel)]="user.email" type="text" name="email" id="email">

  <label for="password">Senha*</label>
  <input [(ngModel)]="user.password" type="password" name="password" id="password">

  <label for="passwordCOnfirmation">Confirme a senha</label>
  <input [(ngModel)]="user.passwordConfimation" type="password" name="password" id="password">
<!-- 
  <fieldset>
    <legend>Tipo de Usuário</legend>
    <input type="radio" id="secretary" name="user_type" value="secretary" checked>
    <label for="secretary">Secretário(a)</label>
    <input type="radio" id="pastor" name="user_type" value="pastor">
    <label for="pastor">Pastor</label>
  </fieldset> -->

  <div class="action">
    <button type="button" (click)="cancel()">Cancelar</button>
    <button (click)="save()">Salvar</button>
  </div>
</form>
