<h3>Pesquisar</h3>
<div class="filter">
    <input [(ngModel)]="form.query" type="text" placeholder="Nome" 
        name="acolhido-name" id="acolhido-name-input">
    <button (click)="searchAcolhido()">🔎</button>   
    <select [(ngModel)]="form.status" name="acolhido-status" id="acolhido-status-select">
        <option *ngFor="let status of acolhidoStatus" 
            [value]="status.value">{{status.name}}</option>
    </select>
</div>

<div class="list">
    <a *ngFor="let acolhido of (acolhidos$ | async)"
        [routerLink]="['/acolhido', acolhido.id]" class="item">
        {{acolhido.name}}
    </a>
</div>
