<h3>Pesquisar</h3>
<div class="filter">
    <input [(ngModel)]="form.query" type="text" [attr.placeholder]="form.filtro" 
        name="acolhido-name" id="acolhido-name-input">
    <select [(ngModel)]="form.filtro" name="acolhido-filtro" id="acolhido-filtro-select">
        <option *ngFor="let filtro of acolhidoFiltro" 
            [value]="filtro.value">{{filtro.name}}</option>
    </select>
    <button type="submit">🔎</button>   
    <select [(ngModel)]="form.status" name="acolhido-status" id="acolhido-status-select">
        <option *ngFor="let status of acolhidoStatus" 
            [value]="status.value">{{status.name}}</option>
    </select>
</div>

<div class="list">
    <a *ngFor="let acolhido of (acolhidos$ | async)"
        [routerLink]="['/acolhido', acolhido.id]" class="item">
        {{acolhido.nome}}
    </a>
</div>
