<div class="acolhido" *ngIf="acolhido$ | async as acolhido; else loading">
    <div class="header">
        <div class="avatar">
            <img src="https://www.w3schools.com/howto/img_avatar.png"
                alt="Avatar">
        </div>
        <div class="name">
            <h1>{{acolhido.nome}}</h1>
        </div>
    </div>
    <div class="info">
        <div class="filter">
            <select #historicoInput name="acolhido-filtro" id="acolhido-filtro-select">
                <option *ngFor="let filtro of historicoFiltro"
                    [value]="filtro.value">{{filtro.name}}</option>
            </select>
            <input type="date" name="acolhido-filtro-data" id="acolhido-filtro-data-input">
            <button (click)="updateHistoricosList(historicoInput.value)" type="submit">🔎</button>
        </div>
        <a [routerLink]="['/info']">Adicionar Info</a>
    </div>
    <div class="list">
        <div [routerLink]="['historico', historico.id]"
            *ngFor="let historico of (historicos$ | async)" class="item">
            <div class="start">
                <div class="icon" [ngSwitch]="historico.tipo">
                    <i *ngSwitchCase="historicoType.Entrada">🏠</i>
                    <i *ngSwitchCase="historicoType.Saida">🚪</i>
                    <i *ngSwitchCase="historicoType.Medico">💊</i>
                    <i *ngSwitchCase="historicoType.Saude">🏥</i>
                </div>
                <p>
                    {{historico.tipo}}
                    <span>{{historico.data | date:'shortDate'}}</span>
                </p>
            </div>
            <div class="action">
                <a [routerLink]="['/info', historico.id]"><i>✏️</i></a>
                <button (click)="deleteHistorico(historico.id)"><i>🗑️</i></button>
            </div>
            <ng-container *ngIf="historico.tipo == historicoType.Entrada">
            </ng-container>
            <ng-container *ngIf="historico.tipo == historicoType.Saida">
            </ng-container>
            <ng-container *ngIf="historico.tipo == historicoType.Medico">
            </ng-container>
            <ng-container *ngIf="historico.tipo == historicoType.Saude">
            </ng-container>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="loading">
        <div class="spinner">Loading...</div>
    </div>
</ng-template>
